.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;  
  align-items: center;
  height: auto;
}

/* HOMEPAGE */

.posts {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  width: 60%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: rgba(0, 89, 255, 0.123);
}

.post {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 350px;
  border-radius: 40px;
  margin: 20px;
  background-color: antiquewhite;
  box-shadow: 5px 5px #88888815;
  transition: 0.4s;
}

.post:hover {
  cursor: pointer;
  box-shadow: 5px 5px #88888834;
}

.post .title {
  background-color: rgb(64, 64, 240);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: bold;
}

.post .body {
  width: 80%;
  height: 80%;
  margin: 10%;
  margin-top: 10px;
  text-align: justify;
  font-size: 14px;
}

.post .footer {
  background-color: rgba(196, 196, 196, 0.267);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 10%;
  flex-direction: row;
  padding: 10px;
  padding-left: 30px;
}

.topbar {
  width: 100%;
  height: 70px;
  background-color: rgb(64, 64, 240);
  display: flex;
  align-items: center;
  font-family: Arial;
}

.topbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

button#logout {
  width: 100px;
  height: 40px;
  margin-left: 20px;
  border-radius: 20px;
  border: 1px solid white;
  transition: 0.5s;
}

h2#username {
  color: white;
  font-size: 22px;
  margin-left: 70%;
  display:inline;
}

button#logout:hover {
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

/* CREATE POST */

.defaultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 40%;
  margin-top: 50px;
  border-radius: 40px;
  background-color: antiquewhite;
  box-shadow: 5px 5px #88888815;
  padding-top: 50px;
}

.defaultContainer span {
  color: rgb(146, 0, 0);
}

.defaultContainer .formContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.defaultContainer label {
  font-size: 20px;
  color: rgb(23, 36, 151);
}

#defaultInput {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid rgba(116, 129, 243, 0.39);
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

#defaultInput:focus {
  outline: none !important;
  border: 2px solid rgba(116, 129, 243, 0.87);
}

.defaultContainer #inputPostBody {
  height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid rgba(116, 129, 243, 0.39);
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}

.defaultContainer #inputPostBody:focus {
  outline: none !important;
  border: 2px solid rgba(116, 129, 243, 0.87);
}

.defaultContainer button {

  width: 20%;
  margin-left: 80%;
}

#bluebutton {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: rgb(98, 191, 248);
  border-radius: 5px;
  color: white;
  transition: 0.4s;
}

#bluebutton:hover {
  background-color: rgb(76, 101, 214);
  cursor: pointer;
}

/* POST PAGE */

.postPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 40px;
  background-color: antiquewhite;
  box-shadow: 5px 5px #88888815;
  padding: 20px;
  text-align: justify;
}

.postPage .mainPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.postPage .mainPost h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.postPage .mainPost .postAuthor { 
  height: 10%;
  flex-direction: row;
  padding: 10px;
}

.postPage hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#555555;
  height: 1px;
  margin-bottom: 20px;
}

.postPage .postReplies {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.postReplies span {
  font-weight: bold;
}

.postReplies .repliesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.repliesList label {
  font-size: 12px;
  font-weight: bold;
}

.repliesList .reply {
  border-radius: 20px;
  background-color: rgba(52, 52, 255, 0.075);
  width: 80%;
  margin-top: 20px;
  min-height: 100px;
  padding: 20px;
}

.postReplies .replyContainer {
  height: auto;
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.replyContainer textarea {
  height: 200px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid rgba(116, 129, 243, 0.39);
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

.replyContainer textarea:focus {
  outline: none !important;
  border: 2px solid rgba(116, 129, 243, 0.87);
}


.replyContainer button {
  width: 15%;
  margin-left: 65%;
}

button#deleteReply {
  border: 0;
  background-color: white;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  margin-top:10px;
  margin-left: 95%;
  transition: 0.4s;
}

button#deleteReply:hover {
  background-color: rgb(219, 93, 93);
  cursor: pointer;
  color: white;
}

/* AUTH */

#register {
  height: 300px;
}

#login {
  height: 300px;
}

#login button {
  margin-left: 0;
}